/* Problems List */
.problems-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    line-height: 1.8;
}

.problems-list li {
    margin-bottom: 10px;
}

/* Items */
.items {
    display: flex;
    justify-content: space-around;
}

.item img {
    max-width: 100px;
    margin-bottom: 10px;
}

body {
    padding-top: 90px;
}
