/* footer.css */
.footer {
    background-color: #003b2e;
    padding: 50px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
}

.footer-menu ul li {
    display: inline;
    margin-right: 15px;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-content {
    padding-right: 500px;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-info {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    text-align: left;
}

.copyright {
    margin-top: 15px;
    font-size: 12px;
    color: #bbb;
}

.mobile-break {
    display: none; /* 기본 숨김 */
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 20px;
    }
    .footer-content {
        padding-right: 0;
        text-align: center;
    }

    .footer-info p {
        margin: 5px 0;
        font-size: 14px;
        line-height: 1.4;
    }
    .copyright {
        margin-top: 10px;
        font-size: 12px;
    }

    .mobile-break {
        display: inline; /* 모바일에서만 br 표시 */
    }
}
