/* section1.css */
.section1 {
    position: relative;
    padding: 150px 20px;
    background-color: #f9f9f9;
    overflow: hidden;
}

.common_about_wrap {
    text-align: center;
}

.common_about p {
    margin: 0;
    color: #333;
}

.intro-text {
    font-size: 2rem;
    color: #555;
    font-weight: 500;
}

.highlight-title {
    font-size: 4rem;
    font-weight: bold;
    color: #222;
    margin-top: 15px;
}

.spacer-lg {
    height: 50px;
}

.description-text {
    font-size: 2.5rem;
    color: #333;
    font-weight: 500;
    line-height: 1.6;
    white-space: nowrap;
}

.bold-text {
    font-weight: bold;
    color: #111;
}

.underline-effect {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding-bottom: 7px;
    font-size: 2.5rem;
}

.underline-effect::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: rgba(0, 147, 115, 0.2);
    border-radius: 6px;
}

.highlight-text {
    color: #009373;
    font-weight: bold;
}

.image-container {
    margin-top: 80px;
}

.harmless_img img {
    max-width: 70%;
    margin: 0 auto;
}

.circle1, .circle2, .circle3 {
    position: absolute;
}

.circle1 {
    top: 8%;
    left: 5%;
}

.circle2 {
    bottom: 18%;
    right: 10%;
}

.circle3 {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-in-up {
    animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mobile-break {
    display: none;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .section1 {
        padding: 50px 10px;
    }
    .intro-text {
        font-size: 1rem;
    }
    .highlight-title {
        font-size: 2.5rem;
    }
    .description-text {
        font-size: 1rem;
    }
    .underline-effect {
        font-size: 1rem;
    }
    .mobile-break {
        display: block;
    }

    .circle1 img,
    .circle2 img,
    .circle3 img {
        max-width: 150px !important;
    }
}