/* section6.css */
.section6-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 700px;
}

.section6-content {
    width: 80%;
    max-width: 800px;
    transform: translateY(-110px);
    padding-right: 400px;
}

.section6-content h3 {
    font-size: 55px;
    font-weight: bold;
    color: #333;
    line-height: 1.5;
}

.highlight {
    color: #009373;
    font-weight: bold;
}

.button-container {
    margin-top: 30px;
}

.apply-button {
    display: inline-block;
    background: #009373;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 37px;
    transition: background 0.3s ease;
}

.apply-button:hover {
    background: #007a5e;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .section6-container {
        height: auto;
        padding: 20px;
    }
    .section6-content {
        width: 100%;
        padding-right: 20px;
        transform: translateY(0);
    }
    .section6-content h3 {
        font-size: 32px;
    }
    .apply-button {
        font-size: 24px;
        padding: 10px 20px;
    }
}
